body {
  font-family: "DM Sans", sans-serif;
  padding: 42px 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
}
body * {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header h1 {
  font-size: 2.5vw; /*36px*/
  line-height: 47px;
  text-align: left;
  color: #901C1C;
}
header .logo {
  height: 50px;
  width: 200px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  padding-bottom: 50px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.photographer_section article .articleLien {
  text-decoration: none;
  cursor: pointer;
}
.photographer_section article .articleLien:hover .photoPhotograph, .photographer_section article .articleLien:focus .photoPhotograph {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2509803922);
}

.nomPhotograph {
  color: #D3573C;
  font-size: 1.944vw; /*28px*/
  line-height: 47px;
  text-align: center;
}

.adrPhotograph {
  color: #901C1C;
  font-size: 0.903vw; /*13px*/
  text-align: center;
  line-height: 20px;
}

.slogan {
  color: black;
  font-size: 0.694vw; /*10px*/
  line-height: 20px;
  text-align: center;
}

.prix {
  color: #757575;
  font-size: 0.625vw; /*9px*/
  line-height: 20px;
  text-align: center;
}

.photoPhotograph {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 2px solid rgb(88, 199, 147);
  transition: all 0.2s;
}

@media (max-width: 1024px) {
  body {
    padding: 21px 50px;
  }
  header h1 {
    font-size: 3.516vw;
  }
  .nomPhotograph {
    font-size: 2.734vw; /*28px*/
  }
  .adrPhotograph {
    font-size: 1.27vw; /*13px*/
  }
  .slogan {
    font-size: 0.977vw; /*10px*/
  }
  .prix {
    font-size: 0.879vw; /*9px*/
  }
  .photographer_section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767.98px) {
  body {
    padding: 10px 30px;
  }
  header:not(.modal header) {
    flex-direction: column;
    gap: 10px;
    height: auto;
  }
  header:not(.modal header) h1 {
    font-size: 4.688vw;
  }
  .nomPhotograph {
    font-size: 3.646vw; /*28px*/
  }
  .adrPhotograph {
    font-size: 1.693vw; /*13px*/
  }
  .slogan {
    font-size: 1.302vw; /*10px*/
  }
  .prix {
    font-size: 1.172vw; /*9px*/
  }
  .photographer_section {
    gap: 5%;
  }
}
@media (max-width: 500px) {
  .photographer_section {
    grid-template-columns: 1fr;
  }
  header h1 {
    font-size: 7.214vw;
  }
  .nomPhotograph {
    font-size: 5.611vw; /*28px*/
  }
  .adrPhotograph {
    font-size: 2.605vw; /*13px*/
  }
  .slogan {
    font-size: 2.004vw; /*10px*/
  }
  .prix {
    font-size: 1.804vw; /*9px*/
  }
}
.triSection .listeTri, .contact_button {
  font-size: 1.389vw; /*20px*/
  font-weight: bold;
  color: white;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
}

.bodydesactive {
  overflow: hidden;
}

.titrePage {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: auto;
}
main.peuVisible {
  opacity: 0.5;
}

.contact_button {
  cursor: pointer;
  justify-self: center;
}
.contact_button:hover, .contact_button:focus {
  color: black;
  background: #DB8876;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-column-gap: 2%;
  align-items: center;
  padding: 0px 50px;
}
.photograph-header .nomPhotograph {
  font-size: 2.5vw; /*36px*/
  line-height: 60px;
  text-align: left;
}
.photograph-header .adrPhotograph {
  font-size: 1.667vw; /*24px*/
  line-height: 40px;
  text-align: left;
  color: #901C1C;
}
.photograph-header .slogan {
  font-size: 1.25vw; /*18px*/
  line-height: 40px;
  text-align: left;
  color: #525252;
}
.photograph-header .photoPhotograph {
  justify-self: right;
}

.triSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  position: relative;
  height: 70px;
  width: 100%;
}
.triSection .tri {
  font-size: 1.25vw; /*18px*/
  font-weight: 700;
  line-height: 23px;
  align-self: baseline;
  padding-top: 10px;
  box-sizing: border-box;
}
.triSection .listeTri {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  z-index: 1;
  list-style-type: none;
  line-height: 60px;
  padding: 0 20px;
  position: absolute;
  top: 0px;
  left: 100px;
}
.triSection .listeTri li:not(li[role=separateur]) {
  width: 100%;
  height: 69px;
}
.triSection .listeTri li:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.triSection .listeTri li[role=separateur] {
  border-top: 2px solid white;
  width: 150px;
  height: 0px;
}
.triSection .listeTri .liCache {
  display: none;
}
.triSection .listeTri .liNonCache {
  display: block;
}

.mediaSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 7.5%;
}
.mediaSection article {
  width: 100%;
  height: 351px;
}
.mediaSection article img, .mediaSection article video {
  width: 100%;
  min-width: 250px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}
.mediaSection article div {
  font-size: 0.833vw; /*12px*/
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact_modal {
  display: none;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 669px;
  align-self: center;
  z-index: 1;
  overflow: auto;
}
.contact_modal .modal {
  gap: 30px;
  border-radius: 5px;
  background-color: #DB8876;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
}
.contact_modal .modal header {
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.contact_modal .modal header img {
  cursor: pointer;
}
.contact_modal .modal header h2, .contact_modal .modal .nomPhotographCtc {
  font-size: 4.444vw; /*64px*/
  font-weight: normal;
  align-self: self-start;
}
.contact_modal .modal p {
  font-size: 2.083vw; /*30px*/
  padding: 30px 0px;
  line-height: 60px;
  text-align: center;
}
.contact_modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.contact_modal form label {
  color: #312E2E;
  font-size: 2.5vw; /*36px*/
}
.contact_modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
.contact_modal form input, .contact_modal form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
}
.contact_modal form input {
  height: 68px;
}
.contact_modal form button {
  position: relative;
  top: 23px;
  font-size: 1.25vw; /*18px*/
}
.contact_modal form, .contact_modal form div {
  gap: 20px;
}

.total {
  width: 376px;
  height: 89px;
  position: fixed;
  right: 30px;
  bottom: 13px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #DB8876;
  z-index: 1;
}
.total p {
  font-size: 1.667vw; /*24px*/
}

.lightBox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  padding: 40px 100px;
  align-items: center;
}
.lightBox .maGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "v i x" "p i s" "h h h";
  grid-template-rows: 46% 46% 8%;
  grid-template-columns: 49px calc(100% - 98px) 49px;
}
.lightBox .maGrid .fa-solid {
  font-size: 2.917vw; /*42px*/
  text-align: center;
}
.lightBox .maGrid .fa-solid.fermerLightBox {
  background: #901C1C;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: transparent;
  grid-area: x;
}
.lightBox .maGrid .fa-solid.precedent {
  grid-area: p;
}
.lightBox .maGrid .fa-solid.suivant {
  grid-area: s;
}
.lightBox .maGrid .fa-solid.active {
  background: #901C1C;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: transparent;
  cursor: pointer;
}
.lightBox .maGrid .fa-solid.desactive {
  cursor: default;
  background: grey;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: transparent;
}
.lightBox .maGrid .lightBoxContent {
  width: 100%;
  height: 100%;
  text-align-last: center;
  grid-area: i;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightBox .maGrid .lightBoxContent img, .lightBox .maGrid .lightBoxContent video {
  width: auto;
  max-width: 100%;
  height: 100%;
}
.lightBox .maGrid h2 {
  margin: 10px 96px 0px 96px;
  font-size: 1.667vw; /*24px*/
  color: #901C1C;
  grid-area: h;
}

article .liked, .lightBox .active {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .mediaSection {
    grid-template-columns: 1fr 1fr;
  }
  .photograph-header {
    grid-template-areas: "i p" "i b";
    grid-template-columns: 2fr 1fr;
  }
  .photograph-header div:first-child {
    grid-area: i;
  }
  .photograph-header .photoPhotograph {
    grid-area: p;
  }
  .photograph-header .contact_button {
    grid-area: b;
    justify-self: flex-end;
  }
  .photograph-header .nomPhotograph {
    font-size: 3.516vw; /*36px*/
  }
  .photograph-header .adrPhotograph {
    font-size: 2.344vw; /*24px*/
  }
  .photograph-header .slogan {
    font-size: 1.758vw; /*18px*/
  }
  .contact_button, .triSection .listeTri {
    font-size: 1.953vw; /*20px*/
  }
  .contact_button, .triSection .listeTri li {
    height: 60px;
  }
  .triSection .tri {
    font-size: 1.758vw; /*18px*/
  }
  .triSection .listeTri {
    background-color: #901C1C;
  }
  .mediaSection article div {
    font-size: 1.172vw; /*12px*/
  }
  .modal header h2, .modal .nomPhotographCtc {
    font-size: 4.444vw; /*64px*/
  }
  .modal p {
    font-size: 2.93vw; /*30px*/
  }
  .contact_button form label {
    font-size: 3.516vw; /*36px*/
  }
  .contact_button form button {
    font-size: 1.758vw; /*18px*/
  }
  .lightBox .maGrid .fa-solid {
    font-size: 4.102vw; /*42px*/
  }
  .lightBox .maGrid h2 {
    font-size: 2.344vw; /*24px*/
  }
  .total {
    height: 59px;
    width: 300px;
  }
  .total p {
    font-size: 2.344vw; /*24px*/
  }
}
@media (max-width: 767.98px) {
  .contact_modal {
    width: 100%;
  }
  .lightBox {
    padding: 20px;
  }
  .photograph-header .nomPhotograph {
    font-size: 4.688vw; /*36px*/
  }
  .photograph-header .adrPhotograph {
    font-size: 3.125vw; /*24px*/
  }
  .photograph-header .slogan {
    font-size: 2.344vw; /*18px*/
  }
  .contact_button, .triSection .listeTri {
    font-size: 2.604vw; /*20px*/
  }
  .triSection .tri {
    font-size: 2.344vw; /*18px*/
  }
  .mediaSection article div {
    font-size: 1.563vw; /*12px*/
  }
  .modal header h2, .modal .nomPhotographCtc {
    font-size: 8.333vw; /*64px*/
  }
  .modal p {
    font-size: 3.906vw; /*30px*/
  }
  .contact_modal form label {
    font-size: 4.688vw; /*36px*/
  }
  .contact_modal form button {
    font-size: 2.344vw; /*18px*/
  }
  .lightBox .maGrid .fa-solid {
    font-size: 5.469vw; /*42px*/
  }
  .lightBox .maGrid h2 {
    font-size: 3.125vw; /*24px*/
  }
  .total p {
    font-size: 3.125vw; /*24px*/
  }
}
@media (max-width: 500px) {
  .mediaSection {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
