body {
  font-family: "DM Sans", sans-serif;
  padding: 42px 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
}
body * {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header h1 {
  font-size: clamp(36px, 2.5vw, 36px);
  line-height: 47px;
  text-align: left;
  color: #901C1C;
}
header .logo {
  height: 50px;
  width: 200px;
}

.photographerSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
}
.photographerSection article {
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.photographerSection article .articleLien {
  text-decoration: none;
  cursor: pointer;
}
.photographerSection article .articleLien:hover .photoPhotograph, .photographerSection article .articleLien:focus .photoPhotograph {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2509803922);
}

.nomPhotograph {
  color: #D3573C;
  font-size: clamp(28px, 1.944vw, 28px);
  line-height: 47px;
  text-align: center;
}

.adrPhotograph {
  color: #901C1C;
  font-size: clamp(13px, 0.903vw, 13px);
  text-align: center;
  line-height: 20px;
}

.slogan {
  color: black;
  font-size: clamp(12px, 0.85vw, 12px);
  line-height: 20px;
  text-align: center;
}

.prix {
  color: #757575;
  font-size: clamp(11px, 0.75vw, 11px);
  line-height: 20px;
  text-align: center;
}

.photoPhotograph {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 2px solid rgb(88, 199, 147);
  transition: all 0.2s;
  object-fit: cover;
}

@media (max-width: 1024px) {
  body {
    padding: 21px 50px;
  }
  .photographerSection {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767.98px) {
  body {
    padding: 10px 30px;
  }
  header:not(.contactModal header) {
    flex-direction: column;
    gap: 10px;
    height: auto;
  }
  header:not(.contactModal header) h1 {
    font-size: 4.688vw;
  }
  .photographerSection {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.triSection .listeTri, .btnContact {
  font-size: clamp(20px, 1.389vw, 20px);
  font-weight: bold;
  color: white;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
}
.triSection .listeTri:hover, .btnContact:hover, .triSection .listeTri:focus, .btnContact:focus {
  color: black;
  background: #DB8876;
}
.triSection .listeTri:hover *, .btnContact:hover *, .triSection .listeTri:focus *, .btnContact:focus * {
  border-color: #000;
}

.bodydesactive {
  overflow: hidden;
}

.titrePage {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: auto;
}
main.peuVisible {
  opacity: 0.5;
}

.btnContact {
  cursor: pointer;
  justify-self: center;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-column-gap: 2%;
  align-items: center;
  padding: 0px 50px;
}
.photograph-header .nomPhotograph {
  font-size: clamp(36px, 2.5vw, 36px);
  line-height: 60px;
  text-align: left;
}
.photograph-header .adrPhotograph {
  font-size: clamp(24px, 1.667vw, 24px);
  line-height: 40px;
  text-align: left;
  color: #901C1C;
}
.photograph-header .slogan {
  font-size: clamp(18px, 1.25vw, 18px);
  line-height: 40px;
  text-align: left;
  color: #525252;
}
.photograph-header .photoPhotograph {
  justify-self: right;
}

.triSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  position: relative;
  height: 70px;
  width: 100%;
}
.triSection .tri {
  font-size: clamp(18px, 1.25vw, 18px);
  font-weight: 700;
  line-height: 23px;
  align-self: baseline;
  padding-top: 10px;
  box-sizing: border-box;
}
.triSection .listeTri {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  z-index: 1;
  list-style-type: none;
  line-height: 60px;
  padding: 0 20px;
  position: absolute;
  top: 0px;
  left: 100px;
}
.triSection .listeTri li:not(li[role=separateur]) {
  width: 100%;
  height: 49px;
  margin: 10px 0px;
  cursor: pointer;
}
.triSection .listeTri li:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.triSection .listeTri li[role=separateur] {
  border-top: 2px solid white;
  width: 150px;
  height: 0px;
}
.triSection .listeTri .liCache {
  display: none;
}
.triSection .listeTri .liNonCache {
  display: block;
}

.mediaSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 7.5%;
}
.mediaSection article {
  width: 100%;
  height: 351px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.mediaSection article img, .mediaSection article video {
  width: 100%;
  min-width: 250px;
  height: 300px;
  object-fit: cover;
}
.mediaSection article img, .mediaSection article video, .mediaSection article .infoLike {
  cursor: pointer;
}
.mediaSection article .liked {
  cursor: default;
}
.mediaSection article div {
  font-size: clamp(12px, 0.833vw, 12px);
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactModal {
  display: none;
  position: fixed;
  top: 0px;
  height: auto;
  width: 669px;
  align-self: center;
  z-index: 1;
  overflow: auto;
  gap: 30px;
  border-radius: 5px;
  background-color: #DB8876;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}
.contactModal header {
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.contactModal header img {
  cursor: pointer;
}
.contactModal header h2, .contactModal .nomPhotographCtc {
  font-size: clamp(64px, 4.444vw, 64px);
  font-weight: normal;
  align-self: self-start;
}
.contactModal .msg {
  font-size: clamp(30px, 2.083vw, 30px);
  padding: 30px 0px;
  line-height: 60px;
  text-align: center;
}
.contactModal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.contactModal form label {
  color: #312E2E;
  font-size: clamp(36px, 2.5vw, 36px);
}
.contactModal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
.contactModal form input, .contactModal form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
}
.contactModal form input {
  height: 68px;
}
.contactModal form button {
  position: relative;
  top: 23px;
  font-size: clamp(18px, 1.25vw, 18px);
}
.contactModal form .msgErreur {
  background-color: white;
  color: red;
  height: auto;
  width: 100%;
  font-size: 22px;
  padding: 0px 10px;
}
.contactModal form, .contactModal form div {
  gap: 20px;
}
.contactModal .conteneur {
  text-align: center;
  margin: auto;
}

.total {
  width: 376px;
  height: 89px;
  position: fixed;
  right: 30px;
  bottom: 13px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #DB8876;
  z-index: 1;
}
.total p {
  font-size: clamp(20px, 1.5vw, 20px);
}

.lightBox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  padding: 40px 100px;
  align-items: center;
  grid-template-areas: "v m x" "p m s" "h h h";
  grid-template-rows: 46% 46% 8%;
  grid-template-columns: 49px calc(100% - 98px) 49px;
}
.lightBox div:not(.lightBoxContent) {
  align-self: baseline;
}
.lightBox div:not(.lightBoxContent).fermerLightBox {
  grid-area: x;
}
.lightBox div:not(.lightBoxContent).precedent {
  grid-area: p;
}
.lightBox div:not(.lightBoxContent).suivant {
  grid-area: s;
}
.lightBox .fa-solid {
  font-size: clamp(42px, 2.917vw, 42px);
  text-align: center;
  background: #901C1C;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: transparent;
}
.lightBox .fa-solid.active {
  cursor: pointer;
}
.lightBox .fa-solid.desactive {
  cursor: default;
  background: grey;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: transparent;
}
.lightBox .lightBoxContent {
  width: 100%;
  height: 100%;
  text-align-last: center;
  grid-area: m;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.lightBox .lightBoxContent img, .lightBox .lightBoxContent video {
  width: auto;
  max-width: 100%;
  height: 100%;
}
.lightBox .lightBoxContent video {
  height: auto;
  max-height: 600px;
}
.lightBox .lightBoxContent .controls {
  position: absolute;
  bottom: 10px;
}
.lightBox .lightBoxContent .controls button {
  background-color: transparent;
  border: none;
}
.lightBox .lightBoxContent .controls button .fa-solid {
  font-size: clamp(20px, 1.5vw, 20px);
  color: white;
}
.lightBox h2 {
  margin: 10px 96px 0px 96px;
  font-size: clamp(24px, 1.667vw, 24px);
  color: #901C1C;
  grid-area: h;
}

@media (max-width: 1024px) {
  .mediaSection {
    grid-template-columns: 1fr 1fr;
  }
  .photograph-header {
    grid-template-areas: "i p" "i b";
    grid-template-columns: 2fr 1fr;
  }
  .photograph-header div:first-child {
    grid-area: i;
  }
  .photograph-header .photoPhotograph {
    grid-area: p;
  }
  .photograph-header .btnContact {
    grid-area: b;
    justify-self: flex-end;
  }
  .btnContact, .triSection .listeTri li {
    height: 60px;
  }
  .triSection .listeTri {
    background-color: #901C1C;
  }
  .total {
    height: 59px;
    width: 300px;
  }
}
@media (max-width: 767.98px) {
  .mediaSection {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .mediaSection article {
    width: 80%;
    justify-self: center;
    height: auto;
  }
  .contactModal {
    width: 100%;
  }
  .lightBox {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .mediaSection {
    grid-template-columns: 1fr;
  }
  .mediaSection article {
    width: 100%;
  }
  .photograph-header {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .photograph-header div:first-child {
    order: 2;
  }
  .photograph-header .photoPhotograph {
    order: 1;
  }
  .photograph-header .btnContact {
    order: 3;
  }
}

/*# sourceMappingURL=style.css.map */
