body {
    font-family: 'DM Sans', sans-serif;
    padding: 42px 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    *{
        margin: 0;
        box-sizing: border-box;
    }
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    h1 {
        font-size: clamp(36px, 2.5vw, 36px);
        line-height: 47px;
        text-align: left;
        color: #901C1C;
    }
    .logo {
        height: 50px;
        width: 200px;
    }
}

.photographerSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    padding-bottom: 50px;    
    width: 100%;
    height: auto;
    article {
        justify-self: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .articleLien {
            text-decoration: none;
            cursor: pointer;
            &:hover, &:focus{
                .photoPhotograph{
                    box-shadow: 0px 4px 12px 0px #312E2E;
                }
            }
        }
    }
}

.nomPhotograph{
    color: #D3573C; 
    font-size: clamp(28px, 1.944vw, 28px);
    line-height: 47px;
    text-align: center;
}

.adrPhotograph{
    color: #901C1C;
    font-size: clamp(13px, 0.903vw, 13px);
    text-align: center;
    line-height: 20px;
}

.slogan {
    color: black;
    font-size: clamp(12px, 0.85vw, 12px);
    line-height: 20px;
    text-align: center;
}

.prix {
    color: #757575;
    font-size: clamp(11px, 0.75vw, 11px);
    line-height: 20px;
    text-align: center;
}

.photoPhotograph{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 2px solid rgb(88 199 147);
    transition: all 0.2s ;
    object-fit: cover;
} 

@media (max-width: 1024px){
    body{
        padding: 21px 50px;
    }
    .photographerSection{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 767.98px){
    body{
        padding: 10px 30px;
    }
    header:not(.contactModal header){
        flex-direction: column;
        gap: 10px;
        height: auto;
        h1 {
            font-size: 4.688vw;
        }
    }
    .photographerSection{
        grid-template-columns: 1fr;
        gap: 30px;
    }
}